.fc-daygrid-day-top {
    cursor: pointer;
}

.fc-event {
    cursor: pointer !important;
}

.fc-bg-event {
    background-color: red;
}

.fc-daygrid-event .fc-event-title {
    white-space: normal !important;
    line-height: 1.1;
}

.fc-daygrid-event {
    padding: 2px 4px !important;
}

    .fc-daygrid-event .fc-event-title,
    .fc-daygrid-event .fc-event-time {
        white-space: normal !important;
        font-size: 11px;
    }
