.card.maximized-card
.table-container {
    height: 100% !important;
    max-height: 100%;
}

.table-no-wrap td,
.table-no-wrap th {
    white-space: nowrap;
}

.table thead th {
    position: sticky;
    top: 0;
    z-index: 2;
}

.table-container {
    flex: 1;
    overflow-y: auto;
    height: calc(100vh - 300px);
    transition: height 0.15s ease;
}

.table-container-request {
    flex: 1;
    overflow-y: auto;
    height: calc(100vh - 700px);
    transition: height 0.15s ease;
}
